body{
	margin:	0;
	padding: 0;
    background-image: url("../images/websitebackground.jpg");
    background-repeat: no-repeat;
}

.navbar-default{
    background: none;
    background-color: transparent;
    border: none;
    box-shadow: none;
    background-size: 3%;
    height: 45px;
    margin: 0;
    margin-top: 5px;
    padding: 0;
} 

.navbar .nav  li  a{
    color: white;

}
h2{
    color: white;
    font-size: 2.8em;
    font-family: 'Playball', cursive;
    margin: 0;
    
}

section{
    margin-top: 150px;
}


section h1{
    font-family: 'Playball', cursive;
    color:white;
    font-size: 4.5em;
    text-align: center;
    
}

section h1:before{
	content: " - ";
}

section h1:after{
	content: " - ";
}

section p{
   font-family: 'Roboto Slab', serif;
    color:white;
    text-align: center;
    font-size: 16px;
    margin-right: 45px;
    
}

section img{
    width:26%;
    margin-left: 115px;
    
}


.clear{
    clear: both;
}




footer{
    background-color: #000;
    height: 45px;
    width:100%;
    position: absolute;
    left: 0;
    bottom: 0;
    color: #816e6e;
    text-align: center;
    font-size: 15px;
    font-family: 'Roboto Slab', serif;
}






@media screen and (max-width : 1028px){

 section img{
        width:97%;
        margin: 0;
        
    }
    
        section p{
            margin-left: 30px;
    
    }
    
    footer{
        position: relative;
        bottom: 0;
        left: 0;
        
    }
    
}



@media screen and (max-width : 767px){
    .navbar-collapse{
        background-color: black;
    }

}

@media screen and (max-width : 568px){

    section{
        margin: 0;
    }
    
    section h1{
        font-size: 2.5em;
    
    }
    html{
        height: 100%;
    }
    
    footer{
        position: relative;
        bottom: 0;
        left: 0;
        
    }

    
   
}

    


    
   


    




