body{
	margin:	0;
	padding: 0;
    background-image: url("../images/websitebackground.jpg");
    background-repeat: no-repeat;
}

.navbar-default{
    background: none;
    background-color: transparent;
    border: none;
    box-shadow: none;
    background-size: 3%;
    height: 45px;
    margin: 0;
    margin-top: 5px;
    padding: 0;
} 

.navbar .nav  li  a{
    color: white;

}


.thumbnail{
    margin: 15px 5px 0 5px;
    background-color: #434343;
    border: #959393;
}

.row {
margin-right: 0;
margin-left: 0;
    
}

h2{
    color: white;
    font-size: 2.8em;
    font-family: 'Playball', cursive;
    margin: 0;
    
}

section h1{
    font-family: 'Playball', cursive;
    color:white;
    font-size: 35px;
    text-align: center;

}



footer{
    background-color: #000;
    display: block;
    height: 45px;
    width:100%;
    position: absolute;
    left: 0;
    bottom: 0;
    color: #816e6e;
    text-align: center;
    font-size: 15px;
    font-family: 'Roboto Slab', serif;
}

@media screen and (max-width : 1028px){


    
        section p{
        margin-left: 30px;
    
    }
    
    footer{
        position: relative;
        bottom: 0;
        left: 0;
        
    }
    
    
    }


@media all and (orientation: portrait) {


    html{
        height: 100%;
    
    }
    footer{
        position: absolute;
        bottom: 0;
        left: 0;
    }
}
}







    




